extends layout

block content
    h1 유저 : #{user}
    h1 상태 : #{state}
    h1 로그인 : #{isLogin}
    form(action='/login' method='post')
        | id:
        br
        input(type='text' name='id')
        br
        | pw:
        br
        input(type='text' name='pw')
        br
        br
        input(type='submit' value='Submit')
    form(action='/logout' method='get')
        input(type='submit' value='Logout')
